.append-container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 2%;
}

.append-container input[type=text] {
    -webkit-transition: .5s;
    transition: .5s;

    box-shadow: 3px 4px #222;

    border-radius: 3px;
    background: transparent;
    border: 1px solid transparent;
    border-bottom: 1px solid #6200EE;
    font-family: 'Montserrat', sans-serif;
    font-size: inherit;
    color: #ccc;

    /* Extend the border beyond the input box*/
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;

    outline: none;
}

.append-container input[type=text]::placeholder {
    text-shadow: 1px 2px #222;
}

.append-container input[type=text]:focus {
    box-shadow: 4px 5px #111;
    background: #6200EE22; /* Using RGBA hex. 33 is opacity*/
    border: 1px solid #6200EE;
}