h1, h2, h3, h4, h5, p {
    font-family: 'Montserrat', sans-serif;
}

html {
    background: #222;
}


/* Global Checkbox styles */
.checkbox input[type=checkbox] {
    opacity: 0;
}

.checkbox {
    width: 25px;
    margin: 20px 10px;
    position: relative;
}

.checkbox label {
    cursor: pointer;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    background: #333;
    border: 1px solid #9932CC;
    border-radius: 3px;
}

.checkbox label:after {
    opacity: 0;
    content: '';
    position: absolute;
    width: 12px;
    height: 5px;
    background: transparent;
    top: 4px;
    left: 3px;
    border: 3px solid #9932CC;
    border-top: none;
    border-right: none;

    transform: rotate(-45deg);
}

.checkbox input[type=checkbox]:checked + label:after {
    opacity: 1;
}